@using AirConditionersManagementSystem.Web.ViewModels.Requests
@model AllRequestsForUser

@{
    ViewData["Title"] = "GetAll";
}

<h1>All Requests</h1>

<p>
    <a asp-action="Create">Create User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Requests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-controller="Requests" asp-action="Update" asp-route-id="@item.Id">Update</a>
                <a asp-controller="Requests" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
